:root{
    /* 원하는 폰트 가져오기 */
    font-family: ;
    font-size : ;
    font-weight: ;
}
* {
    box-sizing : border-box;
    color : black;
}
html, body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 , p {
    margin: 0;
    font-weight: normal;
}
a {
    text-decoration: none;
    color : black;
}
img {
    max-width: 100%;
    height: auto;
    display: block; /* 이미지 아래 여백 제거 */
}
button {
    background: transparent;
    cursor: pointer;
    padding: 0; 
    border: 0px;
}
ul,ol,li {
    list-style: none;
    margin : 0px; padding : 0px;
}
input {
    outline : none; 
}
