:root{
    /* 해당 폰트는 변경될 수 있다 */
    font-family: ;
    font-size : ;
    font-weight: ;
    font-style: normal;
    --color : black;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 , p {
    margin: 0;
    font-weight: normal;
}
a {
    text-decoration: none;
    color: var(--color) 
}
img {
    max-width: 100%;
    height: auto;
    display: block; /* 이미지 아래 여백 제거 */
}
button {
    background: transparent;
    cursor: pointer;
    padding: 0; 
    border: 0px;
}
ul,ol,li {
    list-style: none;
    margin : 0px; padding : 0px;
}
input {
    outline : none; 
}
